div{
    height: 150px;
    width: 150px;
    background-color: aqua;
    margin: 2px;
    float: left;
}

.div1{
    border-radius: 50%;
    background-image: repeating-conic-gradient(red 0deg 10deg, 
        yellow 10deg 20deg, blue 20deg 30deg, green 30deg 40deg);
    transition: 3s;
}

.div1:hover{
    transform: rotate(1080deg);
}

.div2{
    background-image: 
        linear-gradient(red, blue, yellow, green);
}

.div3{
    background-image: 
        linear-gradient(to right, blue, red, yellow);
}

.div4{
    background-image: 
        linear-gradient(45deg, blue, red, yellow);
}

.div5{
    background-image: 
        repeating-linear-gradient(red, yellow 10%, green 20%);
}

.div6{
    border-radius: 50%;
    background-image: radial-gradient(cyan, blue, red, orange);
}

.div7{
    border-radius: 50%;
    background-image: repeating-radial-gradient(cyan, blue 10%, red 20%, 
        orange 30%);
}

.div8{
    border-radius: 50%;
    background-image: conic-gradient(green, blue, red, yellow);   
}

.div9{
    border-radius: 50%;
    background-image: conic-gradient(red 0deg, red 30deg, blue 30deg, 
    blue 100deg, green 100deg, green 200deg, yellow 200deg, yellow 360deg);   
}

.div10{
    border-radius: 50%;
    background-image: conic-gradient(at 30% 75%, red, blue, yellow, green);  
}














